:root {
  --font-family: 'Montserrat', sans-serif;
}

body {
  padding-top: 10px;
  margin: 0;
}

.gallery {
  width: 1128px;
  /* padding: 24px 156px; */
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: white;
  margin: 0 auto;
  gap: 24px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  /* width: calc((100% - 48px) / 3); */
  width: 360px;
  list-style-type: none;
  position: relative;
  border: 1px solid #808080;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
}
.item-info {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 48px;
  background-color: #fff;
  padding: 4px 20px;
  justify-content: space-between;
  gap: 8px;
}
.item-data {
  display: block;
}
.item-param {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;

  margin-bottom: 4px;
  text-align: center;
}
.item-counter {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;

  text-align: center;
}
.gallery-item :hover .gallery-image {
  transform: scale(1.045);
}

.sl-wrapper.simple-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}

.search-form {
  display: flex;
  gap: 8px;
  justify-content: center;
}

input {
  display: block;
  background-color: transparent;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #000;
}

input:hover,
input:focus {
  border: 1px solid #000;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms linear;
}

button:hover {
  background-color: #6c8cff;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #808080;
}

input::-moz-placeholder {
  color: #808080;
}

/* .loader-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;

} */
.loader {
  margin-left: calc((100% - 72px) / 2);
  margin-top: 30px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #263238;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
